<div class="sidebar-container">
  <div class="sidebar-logo">
    Quiz
  </div>
  <ul class="sidebar-navigation">
    <li>
      <a [routerLink]="['/newQuiz']">
        <i class="fas fa-pen" aria-hidden="true"></i> Homepage
      </a>
    </li>
    <li>
      <a [routerLink]="['/Outcomes']">
        <i class="fas fa-share-alt" aria-hidden="true"></i> Outcomes
      </a>
    </li>
    <li>
      <a [routerLink]="['/Questions']">
        <i class="far fa-question-circle" aria-hidden="true"></i> Questions
      </a>
    </li>

    <li class="header">Another Menu</li>
    <li>
      <a href="#">
        <i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard
      </a>
    </li>


    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Information
      </a>
    </li>
  </ul>
</div>
